pkgbase = gdlauncher-bin
	pkgdesc = A simple, yet powerful Minecraft custom launcher with a strong focus on the user experience (binary release)
	pkgver = 2.0.9
	pkgrel = 1
	url = https://gdlauncher.com
	arch = x86_64
	license = BUSL-1.1
	provides = gdlauncher
	conflicts = gdlauncher
	source = gdlauncher-bin-2.0.9.AppImage::https://cdn-raw.gdl.gg/launcher/GDLauncher__2.0.9__linux__x64.AppImage
	source = LICENSE::https://raw.githubusercontent.com/gorilla-devs/GDLauncher-Carbon/develop/LICENSE
	b2sums = c204a57f936b0aacf3d63f5df47b77e33c29ee7ad19d9a92a14024eee08187fe701356f3ded6445f09da9ed2f69cb1ff32f5f03373fcd87b5ec886bae3f55738
	b2sums = 93aed8a6736b73bc8ce08847d9dc895c0e14310125811ea43fbfe9977faa186c4d8f8ffcf88a2a17ab8ae34ab82e1ffbe84e1c590456d4bef46e552b5f80cee7

pkgname = gdlauncher-bin
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxcb
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
